@model RubricaWeb.Models.Estudiante


@{
    ViewBag.Title = "CargaEstudiante";
    List<SelectListItem> items = (List<SelectListItem>)ViewBag.items;

}



<!--<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rubrica</title>-->
@*<link href="~/Content/rubrica.css" rel="stylesheet" id="bootstrap-css">*@
<!--<link href="~/Content/libreta-listado-rubrica.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body class="container-fluid">-->



@using (Html.BeginForm())
{
    <form>
        <div class="container mt-3" style="background-color:rgba(255, 255, 255, 0.82)">
            <h2 class="text-center font-weight-bolder m-4">Agregar Estudiante</h2>
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline">

                        @Html.TextBoxFor(model => model.NombreEstudiante, htmlAttributes: new { @class = "form-control", @id = "txtNombreEstudiante", required = "required", type = "Text" })
                        <label class="form-label text-lg-center" for="form3Example1">Nombre</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        @Html.TextBoxFor(model => model.ApellidoEstudiante, htmlAttributes: new { @class = "form-control", @id = "txtApellidoEstudiante", required = "required", type = "Text" })
                        <label class="form-label text-center" for="form3Example2">Apellido</label>
                    </div>
                </div>
            </div>

            <!-- Dni input-->
            <div class="row mb-4">
                <div class="col">
                    <div class="form-outline mb-4">
                        @Html.TextBoxFor(model => model.DniEstudiante, htmlAttributes: new { @class = "form-control", @id = "txtDniEstudiante", required = "required", type = "Text" })
                        <label class="form-label text-center" for="form3Example3">Numero de Documento</label>
                    </div>
                </div>

                <!-- Curso DropDownList-->
                <div class="col">
                    <div class="form-outline mb-4">
                        @Html.DropDownList("IdCurso", items, "Elija un Curso", htmlAttributes: new { @class = "form-control", required = "required" })

                        @*<label class="form-label" for="form3Example4">Password</label>*@
                    </div>
                </div>

            </div>

            <!-- CargarButton-->
            <div class="container">
                <div class="row">
                    <div class="col text-center mb-4">
                        <button type="submit" class="btn btn-primary">Cargar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>




}


@*</body>
    </html>*@
