

@{
    ViewBag.Title = "LibretaEstudiante";
    Layout = "~/Views/Shared/_Layout_Docente.cshtml";
}

<h2>LibretaEstudiante</h2>

<link href="~/Content/estiloLibretaEstudiante.css" rel="stylesheet" />

<div class="container ">
    <table class="table table-bordered table-light text-center">
        <tbody>
            <tr>
                <th> N°</th>
                <th> MATERIA</th>
                <th>T1</th>
                <th>T2</th>
                <th>T3</th>
                <th>T4</th>
                <th>T5</th>
                <th>T6</th>
                <th>T7</th>
                <th>T8</th>
                <th>T9</th>
                <th>T10</th>
                <th>T11</th>
                <th>T12</th>
                <th>PROMEDIO</th>
                <th>CONDICION</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

